<!--
<page-description [intro]="intro" *ngIf="isParentActive"></page-description>
<section-description [info]="activeSection" *ngIf="!isParentActive"></section-description>
-->

<!-- Main content
<div class="[ container ]" *ngIf="isParentActive">
  <ul class="[ list-group row ]">
    <li class="[ list-group-item ][ col-lg-12 col-md-12 col-6 col-sm-6 ]" *ngFor="let link of subnav_links">
      <p routerLinkActive="active" routerLink="{{link.linkTo}}">{{link.name}}</p>
    </li>
  </ul>
</div>
 -->
<!-- Child content
<div class="[ container ]">
  <router-outlet></router-outlet>
</div>
-->

<div class="test" *ngIf="isParentActive">
  <p> You are on a nested page!! </p>
</div>

<div class="[ row ]">
  <div class="[ col-lg-8 push-lg-2 ][ col-test ]">
    <h1 class="[ typography-heading ]"> This is the SHOPPING module </h1>
    <span class="[ typography-body-light ]">
      SHOPPING module has:
      <ul>
        <li class="[ typography-body-light ]"> 1. It's own routing </li>
        <li class="[ typography-body-light ]"> 2. It's own page templates </li>
        <li class="[ typography-body-light ]"> 3. It could even be it's own APP if you wanted! </li>
      </ul>
    </span>
  </div>
</div>

<router-outlet></router-outlet>

