$brand: default;
$colours-one: #021D37;
$colours-two: #011C2C;
$colours-three: #E91081;
$colours-four: #ffffff;
$colours-five: #000000;
$light-grey: #F2F2F2;
$dark-grey: #3A3A3A;
$border-radius-primary: 0;
$border-radius-secondary: 5px;
$border-radius-tertiary: 10px;
$text-align-primary: left;
$text-align-secondary: center;
$text-align-tertiary: right;

$font-family-primary: gotham;
$font-family-secondary: freight;

$font-family-primary-type-one: GothamMedium;
$font-family-primary-type-two: GothamBook;
$font-family-primary-type-three: GothamBold;

$font-family-secondary-type-one: FreightTextBook;
$font-family-secondary-type-two: FreightTextLight;
$font-family-secondary-type-three: FreightTextMedium;

//$font-primary: gotham;
//$font-secondary: freight;
//$font-type-primary: GothamMedium;
//$font-type-secondary: GothamBook;
//$font-type-tertiary: GothamBold;
//$font-secondary-type-one: FreightTextBook;
//$font-secondary-type-two: FreightTextLight;
//$font-secondary-type-three: FreightTextMedium;
$txt-size-primary: 14px;
$txt-size-secondary: 16px;
$txt-size-tertiary: 18px;
$header-size-primary: 32px;
$header-size-secondary: 28px;
$header-size-tertiary: 24px;
$padding-primary: 5px;
$padding-secondary: 10px;
$padding-tertiary: 15px;
$line-height-primary: 16px;
$line-height-secondary: 20px;
$line-height-tertiary: 24px;
