<!--<div class="[ container ]">-->
<!--
<div class="[ row ]">
<div class="[ col-12 col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 ] [ palette__description ]">
  <span class="[ typography-medium ]"> How colour works </span>
  <span class="[ typography-medium ] [ palette__description__section ] "> 1 </span>

  <p class="[ typography-small-text ] [ section__block ]">
    Colour is a large part of theming and to make the customisation easy for front end and design we have broken
    the colours down in two three sections to make it easy to understand what changes and what doesnt
  </p>
  <p class="[ typography-small-text ] [ section__block ]">
    1. Brand colours <br />
    these will change depending on the brands
  </p>
  <p class="[ typography-small-text ] [ section__block ]">
    2. Greys <br />
    These for phase 1 they will not change. They have been broken down into what they are and they will be applied
    across the site
  </p>
  <p class="[ typography-small-text ] [ section__block ]">
    3. UI Colours <br />
    These have the ability to change but they have been chosen to
  </p>
</div>

<div class="[ col-12 col-lg-8 push-lg-2 col-md-10 push-md-1 col-sm-12 ] [ palette__description ]">
  <span class="[ typography-medium ]"> The colours </span>
  <span class="[ typography-medium ] [ palette__description__section ] "> 2 </span>
</div>

</div>
-->
  <div class="[ row ]">
    <div class="[ col-12 ] [ typography-medium ]"> Brand colours </div>
    <div class="[ col-12 col-lg-3 col-md-4 col-sm-12 ]"
         *ngFor="let color of basicColors">
      <app-wow-palette-card [color]="color"></app-wow-palette-card>
    </div>
  </div>

  <!--<div class="[ row ]">-->
    <!--<div class="[ col-12 ] [ typography-medium ]"> Other colours </div>-->
    <!--<div class="[ col-12 col-lg-3 col-md-4 col-sm-12 ]"-->
         <!--*ngFor="let color of greyColors">-->
      <!--<app-wow-palette-card [color]="color"></app-wow-palette-card>-->
    <!--</div>-->
    <!--<div class="[ col-12 col-lg-3 col-md-4 col-sm-12 ]"-->
         <!--*ngFor="let color of otherColors">-->
      <!--<app-wow-palette-card [color]="color"></app-wow-palette-card>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="[ row ]">-->
    <!--<div class="[ col-12 col-lg-3 col-md-4 col-sm-12 ]"-->
         <!--*ngFor="let color of uspColors">-->
      <!--<app-wow-palette-card [color]="color"></app-wow-palette-card>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->


