<div class="[ card ][ palette ]">
  <div class="[ card-block ][ palette__color ]" [style.background]="color.hex"></div>
  <div class="[ card-block ][ palette__info ]">
    <h2 class="[ card-title ][ palette__info--title ]">{{color.name}}</h2>
    <span class="[ card-text ][ palette__info--text ]">{{color.hex}}</span>
    <p class="[ card-text ][ palette__info--text ]">{{color.rgba}}</p>
  </div>
</div>
