@import '../../../sass/variables';
@import '../../../sass/mixins/rem';

.palette {
  border: 1px solid $base-grey;
  border-radius: 0;

  &__color {
    border-bottom: 1px solid $base-grey;
    display: inline-block;
    min-height: 200px;
  }

  &__info {
    &--title {
      color: $black;
    }

    &--text {
      color: $medium-grey;
    }

  }
}

/**
  Palette Description
 */
.palette__description {
  @include rem(margin, 0 0 30px);
  text-align: center;

  &__section {
    @include rem(height, 50px);
    @include rem(padding, 8px);
    @include rem(width, 50px);
    border: 1px solid $black;
    border-radius: 50%;
    display: inline-block;
  }

  .section__block {
    @include rem(margin, 0 0 20px);
  }
}
