@import "../../../sass/theme";
@import "../../../sass/mixins/rem";

.section__intro {
  background: $colours-one;
  color: $colours-four;
  padding: 0 40px;

  .heading__one {
    @include rem(font-size, 46px);
    @include rem(line-height, 50px);
    padding: 50px 0 70px;

    span {
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  .heading__two {
    @include rem(font-size, 32px);
    font-weight: bolder;
    text-transform: uppercase;

  }
  .blurb {
    @include rem(font-size, 18px);
  }
}
