
  <div class="[ row ]">
    <div class="[ col-12 ]">
      <h1 class="[ typography-heading ]"> {{intro.heading}} </h1>
      <p class="[ typography-body-medium ]">
        {{intro.description}}
      </p>
    </div>
  </div>
