@import '../../../sass/variables';
@import '../../../sass/mixins/rem';

.custom__comp {
  @include rem(padding, 10px);
  border: 1px solid $standard-red;
  border-radius: 5px;

  &__header {
    @include rem(margin, 0 0 10px);
  }

  &__content {
    @include rem(margin, 0 0 10px);
    @include rem(padding, 7.5px 5px);
    background: lightgray;
  }

  &__cta {
    @include rem(padding, 7,5px);
    background: $primary-colour;
    color: $white;
  }

  &--is-submitted {
    background: lightblue;
    @include rem(margin, 7.5px 0);
  }
}
