<div class="[ container ]">
  <div class="[ row ]">
    <div class="[ col-12 col-md-6 col-lg-4 ] [ custom__comp ]">
      <h3 class="[ typography-heading ][ custom__comp__header ]">Wowcher custom component</h3>
      <p class="[ typography-small ][ custom__comp__content ]">
        Specific custom text - test test test!
      </p>
      <button class="[ typography-caption ][ custom__comp__cta ]"
             (click)="exampleSubmit()">Submit</button>

      <div *ngIf="isSubmitted" class="[ custom__comp--is-submitted ]">
        <p class="[ typography-small ][ you-clicked-message ]">
          You clicked submit!
        </p>
      </div>
    </div>
  </div>
</div>
