@import "../../../sass/theme";
@import '../../../sass/variables';
@import '../../../sass/mixins/rem';

.main__navigation {
  @include rem(padding, 0 5px);
  background: #F0F0F0;

  ul {
    @include rem(height, 30px);
  }

  &__link {
    //@include rem(padding, 3px);
    display: inline-flex;

    a {
      @include rem(padding, 5px 7.5px);
      color: #666;
      display: inline-flex;
      text-decoration: none;

      &:hover {
        border-bottom: 2px solid #EB008C;
        color: #EB008C;
        text-decoration: none;
      }
    }
  }

}
