<!--
<div class="[ navigation ]">
  <div class="[ container ][ content-container ]">
    <div class="[ row ]">
      <div class="[ col-md-12 ]">
        <h1 class="[ navigation__title ]">{{title}}</h1>
      </div>
      <div class="[ col-12 col-sm-6 col-md-4 ]" *ngFor="let l of links">
        <div class="[ navigation__link ]" routerLink="{{l.linkTo}}" routerLinkActive="active">
            <img class="[ navigation__link__icon ]" src="{{l.icon}}">
            <h2 class="[ navigation__link__name ]">{{l.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<nav class="[ main__navigation ]">
  <ul>
    <li class="[ main__navigation__link ]" *ngFor="let link of navigationItems">
      <a routerLink="{{link.linkTo}}" routerLinkActive="active" i18n="@@testNav">
        {{ link.name | uppercase }}
      </a>
    </li>
  </ul>
</nav>
