@import '../../sass/variables';
@import '../../sass/mixins/rem';

/* container style */

.container-dark, .container-light {
  @include rem(padding, 50px);
}

.container-dark {
  background-color: $primary-colour;
}

.ui-btn {

  &-common {
    border: none;
    cursor: pointer;
  }

  &__primary {
    @include rem(padding, 0px 15px);
    @include rem(height, 45px);
    @extend .ui-btn-common;
  }

  &__secondary {
    @include rem(height, 30px);
    @extend .ui-btn__primary;
  }

  &--full-width {
    @include rem(height, 60px);
    width: 100%;
  }

  &__link {
    @include rem(padding, 0 5px);
    background: transparent;
    border: none;
    color: $primary-colour;
    @extend .ui-btn-common;

    &--dark {
      @extend .ui-btn__link;
      color: $white;
    }

    &:after {
      @include rem(margin, 0 0 0 5px);
      content: "\e910";
      font-family: tenconcierge;
      vertical-align: middle;
    }
  }

  &--light {
    border: none;
    background-color: $white;
    color: $primary-colour;

    &:hover {
      background-color: $medium-grey;
    }

    &:disabled {
      background-color: $white;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &--dark {
    background-color: $primary-colour;
    outline: none;

    &:hover {
      background-color: $black;
    }

    &:disabled {
      background-color: $primary-colour;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &--outline-dark {
    background-color: transparent;
    border: none;
    outline: solid 1px $primary-colour;

    &:hover {
      background-color: $primary-colour;
      color: $white;
    }

    &:disabled {
      background-color: $primary-colour;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &--outline-light {
    background-color: transparent;
    border: none;
    outline: solid 1px $white;

    &:hover {
      background-color: $white;
      color: $primary-colour;
    }

    &:disabled {
      background-color: $white;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

}

