@import "../../sass/mixins/rem";
@import "../../sass/theme";
@import "../../sass/variables";

.checkbox {
  @include rem(margin, 0 0 24px);
  display: flex;
  justify-content: flex-start;
}

.checkbox__input {
  display: none
}

.checkbox__label {
  @include rem(height, 22px);
  @include rem(padding, 3px 0 3px 40px);
  @include rem(margin, 0 16px 0 0);
  background-repeat: no-repeat;
  transition: background-image .2s ease-in-out;
  cursor: pointer;
  width: 100%;

  &--static {
    background-image: url("/src/assets/images/checkbox/checkbox-static.svg");
  }

  &--static:hover {
    background-image: url('/src/assets/images/checkbox/checkbox-hover.svg');
  }

  &--invalid {
    background-image: url('/src/assets/images/checkbox/checkbox-invalid.svg');
  }

  &--selected {
    background-image: url('/src/assets/images/checkbox/checkbox-selected.svg');
  }
}

