@import "../../sass/bootstrap/mixins/breakpoints";
@import "../../sass/bootstrap/components/variables";
@import "../../sass/mixins/rem";
@import "../../sass/theme";
@import "../../sass/_variables";

/** General form(s) **/
@include media-breakpoint-between(xs, md) {

  .modal__form__container {
    @include rem(margin, 60px 0 0);
    @include rem(padding, 0 0 60px);

    .custom__form {
      font-family: 'Gotham Medium';
      font-size: 14px;
      line-height: 17px;

      .form-group {
        position: relative;
        @include rem(margin, 0);

        label {
          @include rem(padding, 0 7.5px 15px 0);
          @include rem(margin, 0);
        }
        .hidden__field {
          display: none;
        }
        .form-control {
          &:hover {
            border: 1px solid $border-grey;
          }
          &:focus {
            border: 1px solid $medium-grey;
          }
        }
        input,
        .custom__dropdown {
          height: 45px;
        }
        .custom__dropdown {
          background: $white;
          border: 1px solid $base-grey;
        }
        .dropdown-menu {
          background: $white;
          border: 1px solid $base-grey;

          .dropdown-item {
            height: 45px;
            @include rem(padding, 12px 15px);

            &:hover {
              background: lightblue;
            }
          }
        }

        .dropdown {
          &__container {
            @include rem(padding-left, 0);
            @include rem(padding-right, 0);
          }
        }

        .form__element__container {
          //@include rem(padding, 0 7.5px 30px 0);
          @include rem(padding, 0 0 30px 0);
        }

        .form-group-nested {
          .form__element__container {
            @include rem(padding-left, 7.5px);
            @include rem(padding-right, 7.5px);
          }

        }

        /** Show / hide password **/
        .show__password {
          @include rem(right, 21px);
          @include rem(top, 9px);
          position: absolute;
        }
      }
    }
  }

  /** Close button **/
  .close__page-modal {
    @include rem(font-size, 70px);
    @include rem(height, 40px);
    @include rem(line-height, 15px);
    @include rem(padding, 10px);
    @include rem(right, 15px);
    @include rem(top, -5px);
    @include rem(width, 40px);
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }
}

@include media-breakpoint-between(md, xl) {

  .modal__form__container {
    @include rem(margin, 60px 0 0);

    .form__title {
      border-right: 1px solid $border-grey;
    }

    .custom__form {
      .form-group {

        .hidden__field {
          display: block; // need to reset as display: none; set for mobile view
          visibility: hidden;
        }

        /** Show / hide password **/
        .show__password {
          @include rem(right, 20px);
          @include rem(top, 6px);
          position: absolute;
        }
      }
    }
  }

  /** Close button **/
  .close__container {
    width: 100%;

    .close__page-modal {
      @include rem(font-size, 70px);
      @include rem(height, 40px);
      @include rem(line-height, 15px);
      @include rem(padding, 10px);
      border: 1px solid #ccc;
      border-radius: 50%;
      display: inline-block;
      float: right;
      position: inherit;

      &:hover {
        cursor: pointer;
      }
    }
  }

}


/**
  Validation
**/

/** Errors **/
  .form__element__container {

    .form__validation--error {
      color: $standard-red;
      padding: 10px 0 0;
    }
    .ng-invalid.ng-dirty {
      border: 1px solid $standard-red;

      &:hover,
      &:focus {
        border: 1px solid $standard-red;
      }
    }
    .ng-dirty.ng-valid {
      border: 1px solid $primary-colour;

      &:hover,
      &:focus {
        border: 1px solid $primary-colour;
      }
    }
  }

/** Valid **/
  .form__validation--passed {
    @include rem(font-size, 50px);
    position: absolute;
    right: 20px;
    bottom: 28px;
  }

/** Bootstrap component overrides **/
  .dropdown-menu {
    @include rem(min-width, 90px);
    @include rem(padding, 0);
    left: 7px;
    top: 42px;
    width: 97%;
  }
  .dropdown-item {
    @include rem(padding, 15px);
    text-align: left;

    &:hover,
    &:focus {
      background: #DEEEFB;
      outline: 0;
    }
  }
  .dropdown-toggle {
    &:after {
      position: relative;
      right: -48%;
      top: 5%;
    }
  }

/** Modals **/
  .modal__form__header {
    color: $primary-colour;
    text-transform: uppercase;

    span {
      border-top: 2px solid $primary-colour;
      display: block;
    }
  }

/** Form loading **/
  .form--loading {
    opacity: 0.4;
  }
