@import "../../sass/mixins/rem";
@import "../../sass/theme";
@import "../../sass/variables";

.nav-tabs{
  border-bottom: solid $black 1px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: transparent;
  border-color: transparent;
  border-bottom: solid 2px $black;

  span {
    color: $black;
  }
}

.nav-link{
  span {
    @include rem(padding, 0 0 10px);
    color: $border-grey;
    display: inline-block;
  }

  &:hover{
    border-color: transparent !important;
    color: $black;
  }
}
