@import "../../sass/theme";
@import "../../sass/mixins/rem";
@import "../../sass/_variables";

.tag {
  @include rem(border-radius, 4px);
  @include rem(margin, 7.5px 3.75px 0 3.75px);
  @include rem(padding, 3px 7px);
  border: 1px solid $primary-colour;
  display: inline-block;
  text-align: center;

  &:hover {
    background: $primary-colour;
    color: $white;
    cursor: pointer;
  }

  &--dark {
    border: 1px solid $white;
    color: $white;

    &:hover {
      background: $white;
      color: $primary-colour;
      cursor: pointer;
    }

    &--no-border {
      @include rem(padding, 0);
      border: none;

      &:hover {
        background: inherit;
        color: $primary-colour;
      }
    }
  }

  &--no-border {
    @include rem(padding, 0);
    border: none;

    &:hover {
      background: inherit;
      color: $white;
    }
  }

}

