$tenconcierge-font-path: "../assets/fonts/tenconcierge" !default;

$ico-Icon_ArrowDown: "\e900";
$ico-Icon_ArrowLeft: "\e901";
$ico-Icon_ArrowRight: "\e902";
$ico-Icon_ArrowUp: "\e903";
$ico-Icon_Benefits: "\e904";
$ico-Icon_Car: "\e905";
$ico-Icon_Close: "\e906";
$ico-Icon_Dining: "\e907";
$ico-Icon_Ents: "\e908";
$ico-Icon_Events: "\e909";
$ico-Icon_Flights: "\e90a";
$ico-Icon_Heart: "\e90b";
$ico-Icon_HeartOutline: "\e90c";
$ico-Icon_Hotel: "\e90d";
$ico-Icon_LongArrowDown: "\e90e";
$ico-Icon_LongArrowLeft: "\e90f";
$ico-Icon_LongArrowRight: "\e910";
$ico-Icon_LongArrowUp: "\e911";
$ico-Icon_Menu: "\e912";
$ico-Icon_Minus: "\e913";
$ico-Icon_OneWay: "\e914";
$ico-Icon_Plus: "\e915";
$ico-Icon_Redo: "\e916";
$ico-Icon_Return: "\e917";
$ico-Icon_Search: "\e918";
$ico-Icon_See: "\e919";
$ico-Icon_SeeDisabled: "\e91a";
$ico-Icon_Star: "\e91b";
$ico-Icon_StarOutlined: "\e91c";
$ico-Icon_Tick: "\e91d";
$ico-Icon_Travel: "\e91e";
$ico-Icon_User: "\e91f";

