$rubix-font-path: "../assets/fonts/rubix" !default;

$icon-Icon_Atom: "\e900";
$icon-Icon_Foundation: "\e901";
$icon-Icon_Molecule: "\e902";



@font-face {
  font-family: 'rubix';
  src:  url('#{$rubix-font-path}/rubix.eot');
  src:  url('#{$rubix-font-path}/rubix.eot?#iefix') format('embedded-opentype'),
    url('#{$rubix-font-path}/rubix.ttf') format('truetype'),
    url('#{$rubix-font-path}/rubix.woff') format('woff'),
    url('#{$rubix-font-path}/rubix.svg?#rubix') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rubix' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atom {
  &:before {
    content: $icon-Icon_Atom;
  }
}
.icon-foundation {
  &:before {
    content: $icon-Icon_Foundation;
  }
}
.icon-molecule {
  &:before {
    content: $icon-Icon_Molecule;
  }
}
