@import "tenconcierge-variables";

@font-face {
  font-family: 'tenconcierge';
  src:  url('#{$tenconcierge-font-path}/tenconcierge.eot?lrljcw');
  src:  url('#{$tenconcierge-font-path}/tenconcierge.eot?lrljcw#iefix') format('embedded-opentype'),
    url('#{$tenconcierge-font-path}/tenconcierge.ttf?lrljcw') format('truetype'),
    url('#{$tenconcierge-font-path}/tenconcierge.woff?lrljcw') format('woff'),
    url('#{$tenconcierge-font-path}/tenconcierge.svg?lrljcw#tenconcierge') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tenconcierge' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-Icon_ArrowDown {
  &:before {
    content: $ico-Icon_ArrowDown;
  }
}
.ico-Icon_ArrowLeft {
  &:before {
    content: $ico-Icon_ArrowLeft;
  }
}
.ico-Icon_ArrowRight {
  &:before {
    content: $ico-Icon_ArrowRight;
  }
}
.ico-Icon_ArrowUp {
  &:before {
    content: $ico-Icon_ArrowUp;
  }
}
.ico-Icon_Benefits {
  &:before {
    content: $ico-Icon_Benefits;
  }
}
.ico-Icon_Car {
  &:before {
    content: $ico-Icon_Car;
  }
}
.ico-Icon_Close {
  &:before {
    content: $ico-Icon_Close;
  }
}
.ico-Icon_Dining {
  &:before {
    content: $ico-Icon_Dining;
  }
}
.ico-Icon_Ents {
  &:before {
    content: $ico-Icon_Ents;
  }
}
.ico-Icon_Events {
  &:before {
    content: $ico-Icon_Events;
  }
}
.ico-Icon_Flights {
  &:before {
    content: $ico-Icon_Flights;
  }
}
.ico-Icon_Heart {
  &:before {
    content: $ico-Icon_Heart;
  }
}
.ico-Icon_HeartOutline {
  &:before {
    content: $ico-Icon_HeartOutline;
  }
}
.ico-Icon_Hotel {
  &:before {
    content: $ico-Icon_Hotel;
  }
}
.ico-Icon_LongArrowDown {
  &:before {
    content: $ico-Icon_LongArrowDown;
  }
}
.ico-Icon_LongArrowLeft {
  &:before {
    content: $ico-Icon_LongArrowLeft;
  }
}
.ico-Icon_LongArrowRight {
  &:before {
    content: $ico-Icon_LongArrowRight;
  }
}
.ico-Icon_LongArrowUp {
  &:before {
    content: $ico-Icon_LongArrowUp;
  }
}
.ico-Icon_Menu {
  &:before {
    content: $ico-Icon_Menu;
  }
}
.ico-Icon_Minus {
  &:before {
    content: $ico-Icon_Minus;
  }
}
.ico-Icon_OneWay {
  &:before {
    content: $ico-Icon_OneWay;
  }
}
.ico-Icon_Plus {
  &:before {
    content: $ico-Icon_Plus;
  }
}
.ico-Icon_Redo {
  &:before {
    content: $ico-Icon_Redo;
  }
}
.ico-Icon_Return {
  &:before {
    content: $ico-Icon_Return;
  }
}
.ico-Icon_Search {
  &:before {
    content: $ico-Icon_Search;
  }
}
.ico-Icon_See {
  &:before {
    content: $ico-Icon_See;
  }
}
.ico-Icon_SeeDisabled {
  &:before {
    content: $ico-Icon_SeeDisabled;
  }
}
.ico-Icon_Star {
  &:before {
    content: $ico-Icon_Star;
  }
}
.ico-Icon_StarOutlined {
  &:before {
    content: $ico-Icon_StarOutlined;
  }
}
.ico-Icon_Tick {
  &:before {
    content: $ico-Icon_Tick;
  }
}
.ico-Icon_Travel {
  &:before {
    content: $ico-Icon_Travel;
  }
}
.ico-Icon_User {
  &:before {
    content: $ico-Icon_User;
  }
}

